// Colors

$color-primary: #dd571c;
$color-primary-light: #dd861c;
$color-primary-dark: #dd251c;

$color-secondary: #1cb3dd;
$color-secondary-light: #85d0e3;
$color-secondary-dark: #5e919e;

$color-tertiary: #2d7b5a;
$color-tertiary-light: #1D885C;
$color-tertiary-dark: #416254;

$color-white: #fff;
$color-black: #000;
$color-gray: #808080;

// Design
$border-radius: 10rem;

// Grid
$grid-width: 90rem;
$grid-width__projects: 180rem;

$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;


// Font size
$default-font-size: 1.6rem;

// Box Shadow

$shadow: 0 2rem 3rem rgba($color-primary, .8);
$shadow-hover: 0 2.5rem 3rem rgba($color-primary, .9);

// Active tab



