.main-text {
    position: relative;
    height: 85vh;

    @media (min-width: 992px) and (max-width: 1199px) {
        height: 75vh
    }

    @media (min-width: 768px) and (max-width: 991px) {
        height: 65vh;
    }

    @media (min-width: 576px) and (max-width: 767px) { 
        height: 55vh;
    }

    @media (max-width: 575px) {
        height: 35vh;
    }

    &__shape {
        position: absolute;
        background-color: rgba($color-secondary, .6);
        height: 100%;
        width: 100%;
        clip-path: polygon(0 0, 100% 0%, 100% 0%, 0 100%);
    }

    &__h1 {
        text-transform: uppercase;
    }

    &__h5 {
        text-align: left;
        width: 50%;
        background-color: $color-white;
    }
}