.section-projects {

    &__card {
        width: 33%;
        height: 45rem;
        padding: 5rem 5rem;
        border-radius: 0;
        margin-top: 3rem;
        perspective: 150rem;
        position: relative;

        &__side {
            height: 100%;
            transition: all .8s ease;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            backface-visibility: hidden;
            box-shadow: $shadow;
            border-radius: 3px;
            overflow: hidden;
            background-color: $color-white;

            @media only screen and (min-width: 1200px) {
                
            }

            @media only screen and (min-width: 992px) and (max-width: 1199px) {
                height: 95%;
            }
    
            @media only screen and (min-width: 768px) and (max-width: 991px) {
                height: 90%;
            }
    
            @media only screen and (min-width: 600px) and (max-width: 767px) { 
                height: 85%;
            }
    
            @media only screen and (max-width: 600px) {
                height: 80%;
            }

            &--front {

            }
    
            &--back {
                transform: rotateX(180deg);
                text-align: center;
                background-color: $color-black;
            }
        }

        

        &:hover &__side--front {
            transform: rotateX(-180deg);
        }
    
        &:hover &__side--back {
            transform: rotateX(0);
        }

        &__project {
            height: 100%;
            width: 100%;
            object-fit: cover;

            &__caption {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                z-index: 100;
                text-transform: uppercase;
                font-size: 3.5rem;
                font-weight: 600;
                text-align: center;

                & h4 {
                    background-color: rgba($color-white, .5);
                    padding: 3rem;
                }
            }
        }
    }
    
    &__h3 {
        background-color: rgba($color-white, .7);
        border: 5px solid $color-secondary;
    }
}

.section-articles {

    &__card {
        width: 80%;
        height: 45rem;
        padding: 5rem 5rem;
        border-radius: 0;
        margin: 3rem auto;
        perspective: 150rem;
        position: relative;

        &__side {
            height: 100%;
            transition: all .8s ease;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            backface-visibility: hidden;
            box-shadow: $shadow;
            border-radius: 3px;
            overflow: hidden;
            background-color: $color-white;

            &--front {

            }
    
            &--back {
                transform: rotateX(180deg);
                text-align: center;
            }
        }

        

        &:hover &__side--front {
            transform: rotateX(-180deg);
        }
    
        &:hover &__side--back {
            transform: rotateX(0);
        }

        &__project {
            height: 100%;
            width: 100%;
            object-fit: cover;

            &__caption {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 100;
                text-transform: uppercase;
                font-size: 3.5rem;
                font-weight: 600;
                text-align: center;
                border: 5px solid $color-secondary;
                background-color: rgba(white, .7);

                & h3 {
                    color: $color-primary;
                }
            }
        }

        
    }
}