.story {
    width: 90%;
    margin: 0 auto;
    box-shadow: $shadow;
    background-color: rgba($color-white, .6);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-8deg);

    @media (min-width: 992px) and (max-width: 1199px) {
        width: 85%;
    }

    @media (min-width: 768px) and (max-width: 991px) {
        width: 80%;
    }

    @media (min-width: 576px) and (max-width: 767px) { 
        width: 75%;
    }

    @media (max-width: 575px) {
        width: 100%;
        transform: skewX(0deg);
    }

    &__shape {
        width: 30rem;
        height: 30rem;
        background-color: orangered;
        float: right;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(8deg);
        position: relative;
        overflow: hidden;

        @media (min-width: 992px) and (max-width: 1199px) {
            width: 25rem;
            height: 25rem;
        }

        @media (min-width: 768px) and (max-width: 991px) {
            width: 20rem;
            height: 20rem;
        }

        @media (min-width: 576px) and (max-width: 767px) { 
            width: 18rem;
            height: 18rem;
            float: none;
            transform: skewX(0deg);
            margin: 0 auto;
        }

        @media (max-width: 575px) {
            height: 15rem;
            width: 15rem;
            transform: skewX(0deg);
            margin: 0 auto;
            float: none;
        }
    }

    &__img {
        height: 100%;
        backface-visibility: hidden;
        transition: all .5s;
        transform: translateX(-6rem);
    }

    &__text {
        transform: skewX(8deg);

        @media (min-width: 576px) and (max-width: 767px) { 
            transform: skewX(0deg);
            padding-top: 2rem;
        }

        @media (max-width: 575px) {
            transform: skewX(0deg);
            padding-top: 2rem;
        }
    }


    &:hover &__img {
        transform:translateX(-6rem) scale(1.3);
        
    }
}