// Body

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    width: 100%;
}

html {
    font-size: 62.5%;

    body {
        background-color: $color-black;
        font-size: $default-font-size;
        line-height: 1.7;
        box-sizing: border-box;
    }
}

i {
    transform: skewX(12deg);
    margin: 0 auto;
}

.section-projects,
.section-articles,
.section-about,
.section-contact {
    opacity: 1;
    transition: opacity 1s, height 0;
}

// Project tabs

.hidden {
    opacity: 0;
    transition: opacity 1s, height 0 1s;
    height: 0;
    width: 0;
    display: none;
}

.active {
    background-color: rgba($color-white, .8);
}

// Highlights

.html {
    background-color: rgba($color-primary-light, .7);
}

.css {
    background-color: rgba($color-secondary-light, .7);
}

.js {
    background-color: rgba($color-tertiary-light, .7);
}

.fb-fs {
    background-color: rgba($color-primary-dark, .7);
}

.other {
    background-color: rgba($color-gray, .7);
}