.u-center-text { text-align: center; }

// Margin

.u-margin-top-gigantic { margin-top: 16rem; }

.u-margin-top-huge { margin-top: 12rem; }

.u-margin-top-big { margin-top: 8rem; }

.u-margin-top-medium { margin-top: 4rem; }

.u-margin-bottom-big { margin-bottom: 8rem; }

.u-margin-bottom-medium { margin-bottom: 4rem; }

.u-margin-bottom-small { margin-bottom: 1.5rem; }

// Padding

// PADDING

// All

.p0 {
    padding: 0;
}

.p1 {
    padding: 1rem;
}

.p2 {
    padding: 2rem;
}

.p3 {
    padding: 3rem;
}

.p4 {
    padding: 3rem;
}

.p5 {
    padding: 3rem;
}

// Left

.pl0 {
    padding-left: 0;
}

.pl1 {
    padding-left: 1rem;
}

.pl2 {
    padding-left: 2rem;
}

.pl3 {
    padding-left: 3rem;
}

.pl4 {
    padding-left: 4rem;
}

.pl5 {
    padding-left: 5rem;
}

.pl6 {
    padding-left: 6rem;
}

// Right

.pr0 {
    padding-right: 0;
}

.pr1 {
    padding-right: 1rem;
}
.pr2 {
    padding-right: 2rem;
}

.pr3 {
    padding-right: 3rem;
}

// Top

.pt0 {
    padding-top: 0;
}

.pt1 {
    padding-top: 1rem;
}

.pt2 {
    padding-top: 2rem;
}

.pt3 {
    padding-top: 3rem;
}

// Bottom

.u-padding-bottom-small { padding-bottom: 1rem; }

.u-padding-bottom-medium { padding-bottom: 5rem; }

.u-padding-bottom-big { padding-bottom: 9rem; }

.u-padding-bottom-huge { padding-bottom: 13rem; }